@use "../../assets/sass/_variables.scss" as *;
.employeeCardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 3vh;
  row-gap: 2vh;
}

.employeeCard {
  background-color: $color-purple;
  border: 1px solid $color-black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7%;
}
